<div id="<%= dom_id node %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Workspace:</strong>
    <%= node.workspace_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= node.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= node.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Node type:</strong>
    <%= node.node_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ancestry:</strong>
    <%= node.ancestry %>
  </div>
</div>
