<div id="<%= dom_id issue %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Workspace:</strong>
    <%= issue.workspace_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Node:</strong>
    <%= issue.node_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= issue.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= issue.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= issue.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= issue.priority %>
  </div>
</div>
